.statistics {
  border: 1px solid rgb(141, 135, 135);
  text-align: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.title {
  text-transform: uppercase;
}

.item {
  display: inline-flex;
  flex-direction: column;
  width: 69px;
}
.label {
  font-size: 13px;
}
.percentage {
  font-size: 20px;
  font-weight: 500;
}

.stat_list {
}
